@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #8648F6, #684CB5);
    display: flex;
    padding: 30px;
}

main {
    display: flex;
    width: 600px;
    height: 400px;
    margin: auto auto;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.conversor {
    display: flex;
    flex-direction: row;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0px 30px 50px;
    justify-content: space-between;
}

.div-left {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.div-left select, input {
    width: 250px;
    height: 50px;
    border: #BD99FF solid 3px;
    border-radius: 5px;
    display: flex;
    padding-left: 10px;
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    justify-content: space-between;
    align-items: center;
}

.div-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#convert-button {
    height: 50px;
    width: 200px;
    border-radius: 25px;
    border: none;
    background-color: #69CC0F;
    color: #FFFFFF;
    font-size: 16pt;
    cursor: pointer;
    align-self: center;
}

.convert-from, .convert-to {
    width: 50px;
    height: 50px;
}

.arrow {
    width: 50px;
    height: 50px;
}

label {
    font-size: 12pt;
    color: #7e7e7e;
    font-weight: bold;
    margin-left: 5px;
}

h1 {
    font-size: 24pt;
    color: #8648F6;
}

h2 {
    font-size: 16pt;
    color: #69CC0F;
}

h3 {
    font-size: 12pt;
    color: #7e7e7e;
}